<h3>Domain</h3>
<div class="block-content">
    <form ng-submit="processForm()">
        <h4>Settings</h4>

        <div class="field">
          <label>Mode:</label>
          <select ng-model="formData.mode" ng-options="option.value as option.name for option in modeOptions">
          </select>
        </div>
        <div class="field">
          <label>Domain:</label>
          <input type="text" ng-model="formData.domain" ng-disabled="!edit">
        </div>
        <div class="field">
          <label>Workgroup:</label>
          <input type="text" ng-model="formData.workgroup">
        </div>
        <div class="field">
          <label>Realm:</label>
          <input type="text" ng-model="formData.realm">
        </div>
        <div class="field">
          <label>Netbios:</label>
          <input type="text" ng-model="formData.netbios">
        </div>
        <div class="field">
          <label>Description:</label>
          <input type="text" ng-model="formData.description">
        </div>

        <div class="form-buttons">
            <input type="submit" value="Change" class="btn btn-blue" ng-disabled="error || incomplete">
        </div>
    </form>
</div>
